@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Avant Garde, sans-serif, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0d0d0d;
  color: #b7ab98;
  font-weight: 400;
  line-height: 110%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
